

@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@font-face {
    font-family: fa;
    src: url(../fuente/BebasNeue-Regular.ttf);
}

#titulo1 {
text-shadow: 5px 5px 5px #aaa;
font-family: 'Dancing Script', cursive;
}
#titulo2 {
text-shadow: -5px -5px 5px #aaa;
font-family: 'Roboto', sans-serif;
}
#titulo3 {
text-shadow: 3px 3px 5px #f00,
6px 6px 5px #0f0,
9px 9px 5px #00f;
font-family: 'Agdasima', sans-serif;

}

.h1 {
font-size:50px;
}
.body {
background:white;
margin:20px;
}
